
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background: url('pulses.jpg') no-repeat center center/cover;
    color: Black;
    
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.about {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
}

.about img {
    width: 40%;
    border-radius: 10px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.contact {
    text-align: center;
    padding: 50px;
}

.contact form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img {
        
        text-align: center;
        padding: 100px 20px;
        height: 100vh; /* Full screen height */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
       /* background: url('About.jpeg') no-repeat center center/cover; */
        color: white;
    }
}
